*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(250, 244, 237);
}

.blocks{
    margin: 220px 0px 0px 0px;   
}

.card{
    box-shadow: 0px 0px 10px 1px black;
}


form label, form input{
    width: 40%;
}

#sign_up-block{
    display: none;
}